body {
    margin: 0;
    padding: 0;
    background-color: #111; /* Dunkler Hintergrund außen */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden; /* Verhindert Scrollen */
    touch-action: none; /* Wichtig für Touchscreen */
}

canvas {
    background-color: #000;
    box-shadow: 0 0 20px rgba(255, 0, 85, 0.5); /* Leuchtender Rand */
    border: 2px solid #333;
    display: block;
}
